<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site de tecnologia</title>
    <%- include('./../common/bootstrap_cdn.ejs') %>

    <!-- Estilo CSS externo -->
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <%- include('./../common/header.ejs') %>

    <main>
      <div class="container">
        <div class="bg-light p-5 rounded mt-4 mb-4">
          <h1>Adicionar uma nova Notícia</h1>
        </div>
      </div>

      <div class="container">
        <form action="/noticias/salvar" method="POST">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input
              class="form-control"
              id="titulo"
              name="titulo"
              type="text"
              placeholder="Título da notícia"
              required
              autocomplete="off"
            />
          </div>

          <div class="mb-3">
            <label for="noticia" class="form-label">Notícia</label>
            <textarea
              class="form-control"
              name="noticia"
              id="noticia"
              cols="30"
              rows="10"
              required
            ></textarea>
          </div>
          <input
            class="btn btn-primary btn-lg btn-block"
            type="submit"
            value="Noticiar"
          />
        </form>
        <!-- Div de Autenticação-->
        <div>
          <div
            class="modal fade"
            id="staticBackdrop"
            data-backdrop="static"
            data-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    Área restrita
                  </h5>
                </div>
                <div class="modal-body">
                  <form action="/autenticar" method="POST">
                    <input
                      class="form-control mb-3"
                      name="usuario"
                      type="text"
                      placeholder="Digite o usuário"
                      autocomplete="off"
                      required
                    />
                    <input
                      class="form-control mb-3"
                      name="senha"
                      type="password"
                      placeholder="Digite a senha"
                      autocomplete="off"
                      required
                    />
                    <button type="submit" class="btn btn-primary">
                      Entrar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <% if(typeof(autorizado) === 'undefined'){ %>

          <script>
            $(window).on('load', function () {
              $('#staticBackdrop').modal('show')
            })
          </script>

          <% } %>
        </div>
        <!-- Fim Div autenticação-->
      </div>
    </main>

    <%- include('./../common/footer.ejs') %>

    <script src="./js/script.js"></script>
  </body>
</html>
