<footer class="footer bg-dark fixed-bottom">
    <div class="container text-center p-2">
        <p class="text-white font-italic">
            Todos os direitos reservados 2021
        </p>
    </div>
</footer>